{% extends "base.html" %}
{% block content %}

<div class="col-md-8 blog-main">
    <div class="row qtype" style="padding-bottom: 10px;">

        <div class="col-4">
            <h4>New Questions</h4>
        </div>
        <div class="col-8">
            <h5><a href="{% url 'hot'%}" style="text-decoration: underline;">
                    Hot Questions</a></h5>
        </div>

    </div>

    {% for question in questions %}
    {% include "one_question.html"%}
    {% endfor %}
    {% include "paginator.html" with objects=questions %}
</div>


{% endblock %}