<div class="row question-container question-container-border" style="
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 1.5px solid #2E4053;
    border-radius: 6px;
    margin-bottom: 15px !important;">
                <div class="col-3">
                    <div class="row justify-content-center">

                        <img src="https://gamepedia.cursecdn.com/stalker_ru_gamepedia/thumb/f/f5/Vano_face.jpg/300px-Vano_face.jpg?version=76de5b552f817c469f5f7a1d5dee6c6e"
                             class="userpic"
                             style="max-width: 6em; max-height: 6em; margin-bottom: 8px; margin-top: 8px; border:1px solid black; border-radius: 10%;">
                    </div>
                    <div class="row justify-content-center">
                        <button class="like_button" style="float:left" onclick="create_like({{question.id}}, 'question', -1)">
                        -
                        </button>
                        {{question.likes_count}}
                        <button class="like_button" style="float:left" onclick="create_like({{question.id}}, 'question', 1)">
                        +
                        </button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <h3> <a href="{% url 'question' question.id %}" style="text-decoration: underline;"> {{question.title}}</a> </h3>
                    </div>
                    <div class="row">
                        <p> {{question.text}}</p>
                    </div>
                    <div class="row mb-0">
                        <div class="col-4">
                            <u><a href="{% url 'question' question.id %}" style="text-decoration: underline;"> answer </a></u>
                        </div>
                        <div class="col-8">
                            Tags:
                            {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.id %}" methods="post" class="badge badge-info"> {{tag.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>