<div class="row question-container question-container-border" style="padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 1.5px solid #2E4053;
    border-radius: 6px;
    margin-bottom: 15px !important;">
    <div class="col-3">
        <div class="row justify-content-center">

            <img src="https://gamepedia.cursecdn.com/stalker_ru_gamepedia/thumb/f/f5/Vano_face.jpg/300px-Vano_face.jpg?version=76de5b552f817c469f5f7a1d5dee6c6e"
                 class="userpic"
                 style="max-width: 6em; max-height: 6em; margin-bottom: 8px; margin-top: 8px; border:1px solid black; border-radius: 10%;">
        </div>
        <div class="row justify-content-center">
            - {{answer.likes_count}} +
        </div>
    </div>
    <div class="col-9">
        <div class="row" style="padding-right: 70px;">
            <p style="padding-top: 10px;">{{answer.text}}</p>
        </div>
        <div class="row mb-0">
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>