{% extends "base.html" %}
{% block title %}


{% endblock %}
{% block content %}
<div class="col-md-8 blog-main">
    <div class="row question-container question-container-border" style="padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 1.5px solid #2E4053;
    border-radius: 6px;
    margin-bottom: 15px !important;
padding-left: 15px;">
        <div class="col-4">
            <div class="row">
                <img src="https://gamepedia.cursecdn.com/stalker_ru_gamepedia/thumb/f/f5/Vano_face.jpg/300px-Vano_face.jpg?version=76de5b552f817c469f5f7a1d5dee6c6e"
                     class="userpic"
                     style="max-width: 10em; max-height: 10em; margin-bottom: 8px; margin-top: 8px; border:1px solid black; border-radius: 10%;">
            </div>
            <div class="row" style="padding-left: 75px;">
                - {{question.likes_count}} +
            </div>
        </div>
        <div class="col-8" style="margin-top: 30px;">
            <div class="row">
                <h3><a href="{% url 'question' question.id %}" style="text-decoration: underline;">
                    {{question.title}}</a></h3>
                <!--                <a href="{% url 'question' question.id %}" style="text-decoration: underline;"> {{question.title}}</a>-->
            </div>
            <div class="row">
                <p>{{question.text}}</p>
            </div>
            <div class="row mb-0">
                <div class="col-8" style="padding-left: 0px; margin-top: 20px;">
                    Tags:
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.id %}" methods="post" class="badge badge-info"> {{tag.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for answer in answers %}
    {% include "one_answer.html"%}
    {% endfor %}
    {% include "paginator.html" with objects=answers %}



    {% load bootstrap4 %}

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-success">Answer!</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
