{% extends 'base.html' %}

{% block content %}
{% load bootstrap4 %}

<div class="col-md-8 blog-main">
    <div class="row qtype" style="padding-bottom: 10px;">

        <form enctype="multipart/form-data" method="post" class="form" style="padding-left: 150px; width: 650px;">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Register!</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}
